!dataset/
dataset/*
!dataset/.gitkeep
!log/
log/*
!log/.gitkeep
src/config_files/*
!src/config_files/dblp_fold_1
!src/config_files/imdb_fold_1
*.pyc
*.ipynb_checkpoints
experiment/output/*
experiment/lightning_logs/*
misc/*
